body {
  background-image: url('../Imagens/ImagemFundoADM.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.consulta-card {
  background-color: #8b6a3f;
  color: white;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.3);
  max-width: 900px;
  width: 100%;
  transition: transform 0.3s ease;
}

.consulta-card:hover {
  transform: scale(1.01);
}

.consulta-card h2 {
  color: #ffffff;
}

.consulta-card p {
  color: #f0f0f0;
}

#btnBuscar {
  background-color: #e2ba62;
  color: #000000;
  transition: all 0.3s ease;
  border: none;
}

#btnBuscar:hover {
  background-color: #e7e7e7;
  transform: scale(1.05);
}

.table {
  border-color: rgba(255, 255, 255, 0.4);
}

.table-header {
  background-color: rgba(255, 255, 255, 0.2);
}

.table th, .table td {
  color: rgb(0, 0, 0) !important;
  vertical-align: middle;
  text-align: center;
}

.btn-outline-light:hover {
  background-color: #fff;
  color: #9c6f51;
}

.btn-excluir {
  background-color: #dc3545;
  color: white;
  border: none;
  transition: all 0.3s ease;
}

.btn-excluir:hover {
  background-color: #b02a37;
  transform: scale(1.05);
}

.btn-retornar {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.btn-retornar:hover {
  background-color: #b02a37;
  transform: scale(1.05);
}

.btn-retornar a {
  color: white;
  text-decoration: none;
}

.btn-retornar a:hover {
  color: white;
}