#formEdicao {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    background: #2c2c2c;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.7);
    display: none;
    z-index: 20;
}

#formEdicao.show {
    display: block;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: none;
    z-index: 10;
}

#overlay.show {
    display: block;
}

.btn-close-form {
    background: transparent;
    color: white;
    border: none;
    font-size: 26px;
    float: right;
    cursor: pointer;
}